#excursion{
  background-color: black;
}

h1{
  font-size:  50px;
  font-weight: Normal;
  color: White;
}

p{
  font-size: 21px;
  color: gray;s
}

body{
  text-align: center;
  font-family: Verdana;
}

#comingSoon{
  color: Aquamarine;
  font-size: 16px;
}
